<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DecisionTableMakerApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DecisionTableMakerApp.Properties.Settings>
            <setting name="LastFactorLevelText" serializeAs="String">
                <value />
            </setting>
            <setting name="LastFormulaText" serializeAs="String">
                <value>[FactorA(LevelA1,LevelA2,LevelA3)] * [FactorB(LevelB1,LevelB2)] + [FactorC(LevelC1,LevelC2)]</value>
            </setting>
            <setting name="LastAdditionalSettings" serializeAs="String">
                <value>結果|実施日||実施者||結果</value>
            </setting>
            <setting name="LastIsIgnoreWhiteSpace" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastAuthor" serializeAs="String">
                <value>未設定</value>
            </setting>
            <setting name="LastInspection" serializeAs="String">
                <value>未設定</value>
            </setting>
            <setting name="RandomSearchNum" serializeAs="String">
                <value>100</value>
            </setting>
        </DecisionTableMakerApp.Properties.Settings>
    </userSettings>
</configuration>